/* Mobile/tablet design */

header {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  background-color: #997c34;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: #FFFFFF;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  padding-top: 1em;
  width: 100%;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}


/* Desktop design */
@media only screen and (min-width: 1024px) {
 header {
   width: 35%;
   margin-left: 20px;
 }
}