header {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #e3dffa;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */  
  color: #FFFFFF;
  max-height: 400px;
  /* width: 100% */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
  /* padding: 1.5em; */
}