.new-tweet {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 90%;
  padding-bottom: 1.5em;
}

.error-container {
  width: 100%;
}

.error-visible {
  border: solid red;
}

.tweet-actions {
  display: flex;
  justify-content: space-between;
}

.tweet-button {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
}

.counter {
  font-family: 'Bungee', sans-serif;
}

.overcount {
  font-family: 'Bungee', sans-serif;
  color:crimson;
}

tweet-text {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  width: 90%;
  border-bottom: 2px solid  black;
}

textarea {
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
  border-bottom: solid;
  box-sizing: content-box;
  width: 100%;
  background-color: #f4f1ec;
}